.app {	
	display: flex;
	flex-direction: column; 
	margin: 10px auto;
	padding-top: 10px;
	background-color: lightgray;
	border-radius: 4px;
	
}

@media (min-width: 820px) {
	.container, .app {
		max-width: 780px;
	}
}

.botones {
	
	line-height: 1.8;
}

h5{	
	line-height: 1.8;
	
}

@media (max-width: 575px) {
	.container, .app {
		max-width: 425px;
	}
	.botones, h5 {
	line-height: 1.5;
	font-size: 1rem;
	}
	
}
