.app {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	padding-top: 10px;
	background-color: lightgray;
	border-radius: 4px;

}

.botones {

	line-height: 1.8;
}

h5 {
	line-height: 1.8;

}

.tool-tip {

	padding: 0;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 100%;
	position: absolute;
	right: 0.5rem;
	box-shadow: 1px 1px 5px #212529;
	text-shadow: 0.2px 0.2px 1px whitesmoke;
}

.oculto {
	display: none;
}

@media (min-width: 820px) {
	.container, .app {
		max-width: 780px;
	}
}

@media (max-width: 575px) {
	.container, .app {
		max-width: 425px;
	}

	.botones, h5 {
		line-height: 1.5;
		font-size: 1rem;
	}

}